* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('https://picsum.photos/1920/1080');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 35vh;
}

.hero h1 {
    font-size: 5rem;

}

.hero p {
    font-size: 1.2rem;


}

.hero a {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    background-color: cornflowerblue;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.3s ease;



}

.hero a:hover {
    background-color: darkslateblue;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}